
{{ 'custom-collection-banner.css' | asset_url | stylesheet_tag }}

<div class="custom-collection-banner">
  <div class="banner-bg" style="background-image:url({{ collection.image | image_url }})"></div>
  <div class="page-width collection-title-container">
    <div class="collection-title-wrap">
      <h1 class="collection-title">
        {{ collection.title }}
      </h1>
      <p class="collection-description">
        {{ collection.description }}
      </p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Collection Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Collection Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Collection Subtitle"
      }
    ],
    "presets": [
      {
        "name": "Custom Collection Banner"
      }
    ]
  }
{% endschema %}
