@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
.custom-featured-collection-container{
  background-size:cover;
  position:relative;
  padding-top:118px;
  padding-bottom:210px;
}
.custom-featured-collection-title-container{
  position: absolute;
  top: 160px;
  height: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
  left: 281px;
}
.custom-featured-collection-title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 120px;
  margin: 0;
  padding: 0;
}
.custom-featured-collection-title.text-bg{
  margin-left: -50px;
  margin-top: -49px;
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.swiper {
  width: calc(100% - 350px);
  margin-right:0;
}
.swiper-slide{
}
.swiper-slide-content{
/*   width:300px; */
  height: 575px;
  position:relative;
  background:#fff;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 0 12%);
}  
.swiper-slide-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}
.swiper-slide-title-container{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom left;
  width: 488px;
  top: 29px;
  height: 41px;
  left: 11px;
}
.swiper-slide-title{
  font-size: 50px;
  color: #00000080;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  transform-origin: bottom left;
  transform: translateY(calc(-100% + 41px));
  font-weight: 700;
  font-family: "Oswald";
  text-transform:uppercase;
}
.swiper-slide-price-container{
  clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0 100%, 0 100%);
  position:absolute;
  right:0;
  bottom:0;
  background:rgb(var(--color-foreground));
  padding:10px 10px 10px 34px;
}
.swiper-slide-price-content{
  font-size:32px;
  font-family: "Oswald";
  font-weight:300;
  color: #fff;
}
.swiper-navigation-buttons{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.swiper-navigation-buttons > div{
  cursor:pointer;
}
.swiper-custom-button-next .arrow-enabled{
}
.swiper-custom-button-next .arrow-disabled{
  display:none;
}
.swiper-custom-button-prev .arrow-enabled{
  transform:rotate(180deg);
}
.swiper-custom-button-prev .arrow-disabled{
  transform:rotate(180deg);
  display:none;
}