.custom-collection-banner{
  height:405px;
  width:100%;
  position:relative;
  background-color:#F0F0EE;
}
.custom-collection-banner .banner-bg{
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size:contain;
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.custom-collection-banner .collection-title-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:start;
  height:100%;
  position:relative;
  z-index:1;
}
.collection-title-wrap{
  background:#F0F0EE99;
}
.custom-collection-banner .collection-title{
  font-size:48px;
  font-weight:700;
  font-family:"Oswald";
  margin-bottom:6px;
  margin-top:0;
  line-height:48px;
}
.custom-collection-banner .collection-description{
  font-size:14px;
  font-weight:400;
  font-family:"Montserrat";
  margin:0;
}
@media screen and (max-width: 750px) {
  .custom-collection-banner .collection-title-container{
    justify-content:start;
  }
  
}