body{
  overflow-x:hidden;
  background:rgb(var(--color-background));
}
html {
  scroll-behavior: smooth;
}

.header__menu-item{
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
}
#MainContent{
  max-width:var(--page-width);
  margin:0 auto;
}