
.custom-card-collection-container{
  position:relative;
  padding-top:118px;
  padding-bottom:210px;
}
.custom-card-collection .swiper{
  width: 100%;
  margin-left:0;
  padding-right:0;
}
.custom-card-collection .swiper-slide-content{
/*   width:300px; */
  height: 200px;
  position:relative;
  background:#fff;
  clip-path: polygon(30px 0,100% 0,100% calc(100% - 30px),calc(100% - 30px) 100%,0 100%,0 30px);
}  
.custom-card-collection .swiper-slide-img{
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  object-fit: cover;
  z-index: 1;
  top: 1px;
  left: 1px;
  clip-path: polygon(30px 0,100% 0,100% calc(100% - 30px),calc(100% - 30px) 100%,0 100%,0 30px);
}
.custom-card-collection .swiper-slide-title-container{
  position: absolute;
  width: 488px;
  bottom:0;
  height: 41px;
  left: 11px;
  z-index:3;
}
.custom-card-collection .swiper-slide-title-container > *{
  color:#fff;
  margin:0;
}
.custom-card-collection .swiper-slide .bg-overlay{
  position:absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index:2;
  display:block;
  clip-path: polygon(30px 0,100% 0,100% calc(100% - 30px),calc(100% - 30px) 100%,0 100%,0 30px);
}
.custom-card-collection .swiper-view-all{
  padding-top: 35px;
  padding-left: 30px;
}
.custom-card-collection .swiper-view-all-text{
  color: #fff;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 32px;
  text-transform: uppercase;
  background: rgba(var(--color-base-text));
  padding: 10px 60px;
  border:1px solid #fff;
  transition:.2s all;
}
.custom-card-collection .swiper-nav-view-container{
  display:flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index:1;
}
.custom-card-collection .swiper-view-all-text:hover{
  background:#fff;
  color:rgba(var(--color-base-text));
}
.custom-card-collection .swiper-wrapper{
  position:relative;
}
.custom-card-collection .swiper-navigation-buttons{
  margin-left:50px;
  margin-right:50px;
  cursor:pointer;
}
.custom-card-collection .swiper-pagination{
  top:100%;
}
.custom-card-collection .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  border-radius: 0;
  height: 8px;
  width: 23px;
  border: 1px solid #000;
}
.custom-card-collection .swiper-pagination-bullet-active{
  background:#fff;
}
@media screen and (max-width: 750px) {
  .custom-card-collection .swiper-{
    width: 100%;
    margin-top: 20px;
    margin-right: -60px;
    margin-left: 20px;
  }
  .custom-card-collection .swiper-slide-content{
    height: 394px;
  }
  .custom-card-collection .swiper-view-all-text{
    font-size:24px;
  }
}