.custom-hero-banner{
  height:645px;
  width:100%;
  position:relative;
}
.custom-hero-banner .banner-bg{
  position:absolute;
  width:100%;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  left:0;
  top:0;
  display:block;
  z-index:-2;
}
.custom-hero-banner .banner-bg-overlay{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:#00000080;
  display:block;
  z-index:-1;
}
.custom-hero-banner .row{
  max-width:1322px;
  width:100%;
  margin:0 auto;
  display:flex;
  height:100%;
}
.custom-hero-banner .col{
  width:50%;
  height:100%;
}
.custom-hero-banner .product-title-container{
  margin-bottom:20px;
}
.custom-hero-banner .product-title{
  font-size:48px;
  line-height:55px;
  font-weight:700;
  color:#fff;
  font-family:"Oswald";
  margin:0;
}
.custom-hero-banner .product-title-outline{
  position:absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin:-10px;
  color:transparent;
}
.custom-hero-banner .description{
  font-size:14px;
  font-family:"Montserrat";
  line-height:20px;
  color:#fff;
  margin-bottom:20px;
}
.custom-hero-banner .price{
  font-size:24px;
  font-family:"Montserrat";
  font-weight:700;
  color:#fff;
  margin-bottom:30px;
}
.custom-hero-banner .btn{
  font-size:24px;
  padding:14px 40px;
  font-weight:700;
}
.custom-hero-banner .first-column{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:start;
  flex-direction:column;
}
.custom-hero-banner .second-column{
  position:relative;
  padding-top:20px;
}
.custom-hero-banner .product-image-container{
  position:relative;
  height: 614px;
}
.custom-hero-banner .bg-box{
  display:block;
  border-radius:20px;
  width:345px;
  height:373px;
  background: radial-gradient(55.34% 60.34% at 50.21% 54.66%, #000 0%, rgba(0, 0, 0, 0.33) 57.29%, rgba(0, 0, 0, 0) 80.73%),#717177;
  position:absolute;
  z-index:-1;
  left:54px;
  top:95px;
}
.custom-hero-banner .img-container{
  position: absolute;
  bottom: 0;
}