.custom-product-grid{
  position:relative;
}
.custom-product-grid .card__information{
  display: flex;
  padding: 0;
  margin-top: 10px;
}
.custom-product-grid .card__heading{
  width: 66%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.custom-product-grid .card-information{
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.custom-product-grid .price{
  font-size: 15px;
  font-family: "Oswald";
  margin: 0;
}
.custom-product-grid .card-wrapper{
  padding:20px;
}
.custom-product-grid .card-wrapper .card{
  border:1px solid #000;
}
.custom-product-grid .bg-top{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  height:500px;
}
.custom-product-grid .bg-bottom{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  height:840px;
}