.custom-card-grid{
  background:#000;
}
.custom-card-grid .card-tile{
  witdh:33.33%;
}
.custom-card-grid .card{
  max-height:514px;
  width: 100%;
  padding:0 20px;
  position:relative;
}
.custom-card-grid .wrapper{
  display:flex;
  flex-wrap:wrap;
  padding:70px 30px 170px;
  margin:0 auto;
  max-width:1340px;
  width:100%;
  gap:70px;
}
.custom-card-grid .card-arrow{
  width: 9.5%;
  height: 8%;
  background:#fff;
  position:absolute;
  top:0;
  left:0;
  display:block;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.custom-card-grid .card-wrapper{
  background:#fff;
  clip-path: polygon(12% 0, 0 10%, 0 100%, 89% 100%, 100% 90%, 100% 0);
  height:100%;
}
.custom-card-grid .card-content{
  background: radial-gradient(50% 50% at 50% 50%,#9F03A3 0%,rgba(126,44,207,.37) 43.23%,rgba(0,209,255,0) 100%),#000000;
  left: 9%;
  position: relative;
  clip-path: polygon(12% 0,0 10%,0 100%,88.5% 100%,100% 90%,100% 0);
  width: calc(100% - 10%);
  height: calc(100% - 4px);
  top: 2px;
  overflow: hidden;
}
.custom-card-grid .card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-card-grid .card-name-container{
  position:absolute;
  left:23px;
  bottom:23px;
}
.custom-card-grid .card-name{
  margin: 0;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  .custom-card-grid .wrapper{
    gap:35px;
  }
  .custom-card-grid .card{
    width: calc(50% - 18px);
  }
  .custom-card-grid .card-name{
    font-size:30px;
  }

}