.custom-section-b {
  padding:100px 0;
  max-width:var(--page-width);
  margin:0 auto;
}
.custom-section-b .row{
  display:flex;
  margin:0px 50px;
  position:relative;
  background:rgba(var(--color-base-text));
}
.custom-section-b .col.first-column > *{
  margin:0;
}
.custom-section-b .bg-border{
  border:1px solid #fff;
  height:624px;
  padding-right:144px;
  padding-bottom:43px;
}
.custom-section-b .img-container{
  clip-path: polygon(87% 0, 100% 14%, 100% 100%, 0 100%, 0 0);
}
.custom-section-b .col.first-column h2{
  font-size:96px;
  font-weight:700;
  font-family:'Oswald';
  margin-bottom:36px;
  color:#fff;
}
.custom-section-b .col.first-column h3{
  font-size:16px;
  font-weight:700;
  font-family:'Montserrat';
  margin-bottom:18px;
  color:#fff;
}
.custom-section-b .col.first-column p{
  font-size:16px;
  font-family:'Montserrat';
  margin-bottom:60px;
  color:#fff;
}

@media screen and (max-width: 750px) {
  .custom-section-b .col.first-column h2{
    font-size:64px;
    margin-bottom:48px;
  }
  .custom-section-b .col.first-column h3{
    font-size:16px;
    margin-bottom:18px;
  }
  .custom-section-b .col.first-column p{
    font-size:16px;
    margin-bottom:40px;
  }
}