@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
body{
  overflow-x:hidden;
  background-color:#1F2326 !important;
}
html {
  scroll-behavior: smooth;
}

.header__menu-item{
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
}
#MainContent{
/*   max-width:1920px; */
  width:100%;
  margin:0 auto;
}

@media screen and (max-width: 750px) {
  #MainContent{
    max-width:auto;
    margin:0;
  }
}