.custom-collection-banner{
  height:405px;
}
.custom-collection .banner-bg{
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size:contain;
  background:#F0F0EE;
}
.custom-collection-banner .collection-title-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  
}
.custom-collection-banner .collection-title{
  font-size:48px;
  font-weight:700;
  font-family:"Oswald";
  margin-bottom:6px;
}
.custom-collection-banner .collection-description{
  font-size:14px;
  font-weight:400;
  font-family:"Montserrat";
}