.custom-section-c{
  position:relative;
}
.custom-section-c .wrapper{
  max-width:1300px;
  width:100%;
  margin:75px auto -75px;
  padding:35px 0;
  background-repeat:no-repeat;
  background-size:cover;
  clip-path: polygon(85% 0,calc(100% + 1px) 19%,calc(100% + 1px) 100%,0 100%,0 0);
}
.custom-section-c .container{
  background: rgba(0, 0, 0, 0.6);
  max-width:900px;
  width:100%;
  margin:0 auto;
  padding:35px;
  text-align:center;
}
.custom-section-c h2{
  font-family:'Oswald';
  font-size:64px;
  font-weight:300;
  margin-bottom:10px;
  color:#fff;
}
.custom-section-c a{
  padding:20px 50px;
  background:#1F2326;
  border:1px solid #fff;
  color:#fff;
  font-family:'Oswald';
  font-size:24px;
  font-weight:700;
}
@media screen and (max-width: 750px) {
  .custom-section-c{
    
  }
}