.custom-banner-slider .swiper{
  width:100%;
}
.custom-banner-slider .swiper-slide-title{
  color:#fff;
}

.custom-banner-slider .swiper-slide{
  width:100%;
  min-height:580px;
}
.custom-banner-slider .swiper-slide-content{
  position:relative;
  height:100%;
  width:100%;
}

.custom-banner-slider .swiper-slide-img{
  position:absolute;
  right:0;
  bottom:0;
}

.custom-banner-slider .swiper-slide-title-container{
  width: 100%;
  bottom: 0;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.custom-banner-slider .swiper-slide-title{
  font-size: 128px;
  line-height: 128px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.custom-banner-slider .swiper-slide-title-second{
  font-size: 150px;
  line-height: 150px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  position:absolute;
  color:transparent;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}