.custom-section-a {
  padding:100px 0;
  max-width:var(--page-width);
  margin:0 auto;
}
.custom-section-a .row{
  display:flex;
  margin:0px 50px;
  position:relative;
}
.custom-section-a .col.first-column{
  padding-left: 50px;
  width: 100%;
  max-width: 690px;
  margin-bottom: 200px;
}
.custom-section-a .col.first-column > *{
  margin:0;
}
.custom-section-a .col.first-column h2{
  font-size:96px;
  font-weight:700;
  font-family:'Oswald';
  margin-bottom:36px;
}
.custom-section-a .col.first-column h3{
  font-size:16px;
  font-weight:700;
  font-family:'Montserrat';
  margin-bottom:18px;
}
.custom-section-a .col.first-column p{
  font-size:16px;
  font-family:'Montserrat';
  margin-bottom:60px;
  color:rgba(var(--color-base-text));
}
.custom-section-a .col.first-column a{
  font-size:24px;
  font-family:'Oswald';
  font-weight:700;
  padding:22px 75px;
  text-decoration:none;
  display:inline-block;
}
.custom-section-a .col.second-column{
  width: 100%;
  padding-right: 30px;
  z-index: -1;
  padding-top: 80px;
  position: absolute;
}
.custom-section-a .col.second-column .bg-border{
  border-top: 1px solid rgba(var(--color-base-text));
  border-right: 1px solid rgba(var(--color-base-text));
  padding-top: 60px;
  display: flex;
  justify-content: end;
  position: relative;
  margin-left: 200px;
}
.custom-section-a .col.second-column .img-container{
  width: 100%;
  position: relative;
  max-width: 1000px;
}
.custom-section-a .col.second-column .img-overlay{
  background: linear-gradient(90deg,#FFF 15%,rgba(255,255,255,0) 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}
.custom-section-a .col.second-column img{
  width: 100%;
  height: 542px;
  object-fit: cover;
}
.custom-section-a .col.second-column .bottom-border{
  position: absolute;
  bottom:0;
  right:0;
  height:25px;
  background:rgba(var(--color-base-text));
  width:36%;
}

@media screen and (max-width: 750px) {
  .custom-section-a .col.first-column h2{
    font-size:64px;
    margin-bottom:24px;
  }
  .custom-section-a .col.first-column h3{
    font-size:16px;
    margin-bottom:16px;
  }
  .custom-section-a .col.first-column p{
    font-size:16px;
    margin-bottom:40px;
  }
  .custom-section-a .col.first-column a{
    font-size:24px;
  }
  .custom-section-a .row{
    margin:0;
    flex-direction:column;
  }
  .custom-section-a .col.first-column{
    padding-left: 0;
    margin:0 30px;
    width:auto;
  }
  .custom-section-a .col.first-column a{
    padding: 16px 48px;
  }
  .custom-section-a .col.second-column{
    position: relative;
    padding-right: 0;
    padding-top: 0;
    height: 550px;
    top: -95px;
  }
  .custom-section-a .col.second-column .bg-border{
    margin-left: 0;
    position: absolute;
    top: 0;
    padding-top: 65px;
  }
  .custom-section-a .col.second-column .img-overlay{
    background:none;
  }
}