.custom-section-b {
  padding:100px 0;
  max-width:var(--page-width);
  margin:0 auto;
}
.row
.custom-section-b .bg-border{
  border:1px solid #fff;
}
.custom-section-b .img-container{
  clip-path: polygon(87% 0, 100% 14%, 100% 100%, 0 100%, 0 0);
}