@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
.custom-featured-collection-container{
  background-size:cover;
}
.custom-featured-collection-title-container{
  position: absolute;
  top: 50px;
  height: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
  left: 281px;
}
.custom-featured-collection-title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 120px;
  margin: 0;
  padding: 0;
}
.swiper {
  width: calc(100% - 350px);
  margin-right:0;
}
.swiper-slide{
}
.swiper-slide-content{
/*   width:300px; */
  height: 575px;
  position:relative;
  background:#fff;
}  
.swiper-slide-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}
.swiper-slide-title-container{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom left;
  width: 575px;
  top: -30px;
  height: 41px;
  left: 11px;
}
.swiper-slide-title{
  font-size: 50px;
  color: #00000080;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin: 0;
  padding: 0;
  width: 575px;
  transform-origin: bottom left;
  transform: translateY(calc(-100% + 41px));
  font-weight: 700;
  font-family: "Oswald";
}
.swiper-slide-price-container{
  position:absolute;
  right:0;
  bottom:0;
  background:rgb(var(--color-foreground));
  padding:10px;
}
.swiper-slide-price-content{
  font-size:32px;
  font-family: "Oswald";
  font-weight:300;
  color: #fff;
}
