.custom-section-a {
  padding:100px 0;
}
.custom-section-a .row{
  display:flex;
  margin:0px 50px;
}
.custom-section-a .col.first-column{
  padding-left:50px;
  width:46%;
}
.custom-section-a .col.first-column h2{
  font-size:96px;
  font-weight:700;
  font-family:'Oswald';
  margin-bottom:36px;
}
.custom-section-a .col.first-column h3{
  font-size:16px;
  font-weight:700;
  font-family:'Montserrat';
  margin-bottom:18px;
}
.custom-section-a .col.first-column p{
  font-size:16px;
  font-family:'Montserrat';
  margin-bottom:60px;
}
.custom-section-a .col.first-column a{
  font-size:24px;
  font-family:'Oswald';
  font-weight:700;
  padding:22px 75px;
  color:#fff;
  background:#1F2326;
  text-decoration:none;
  display:inline-block;
}
.custom-section-a .col.second-column{
  width:54%;
  padding-right:30px;
}