.custom-section-b {
  margin:0 auto;
  background:rgba(var(--color-base-text));
}
.custom-section-b .row{
  max-width:var(--page-width);
  display:flex;
  margin:0px auto;
  padding:0 50px;
  position:relative;
  justify-content:end;
}
.custom-section-b .first-column{
  width:100%;
  position:absolute;
  padding-left:30px;
}
.custom-section-b .bg-border{
  border:1px solid #fff;
  height:624px;
  padding-right:144px;
  padding-bottom:43px;
}
.custom-section-b .img-container{
  clip-path: polygon(87% 0, 100% 14%, 100% 100%, 0 100%, 0 0);
}
.custom-section-b .col.second-column{
  padding-right:90px;
  width:100%;
  max-width:636px;
  padding-top:200px;
  padding-bottom:90px;
}
.custom-section-b .col.second-column > *{
  margin:0;
}
.custom-section-b .col.second-column h2{
  font-size:96px;
  font-weight:700;
  font-family:'Oswald';
  margin-bottom:36px;
  color:#fff;
}
.custom-section-b .col.second-column h3{
  font-size:16px;
  font-weight:700;
  font-family:'Montserrat';
  margin-bottom:18px;
  color:#fff;
}
.custom-section-b .col.second-column p{
  font-size:16px;
  font-family:'Montserrat';
  margin-bottom:60px;
  color:#fff;
}

@media screen and (max-width: 750px) {
  .custom-section-b .col.second-column h2{
    font-size:64px;
    margin-bottom:48px;
  }
  .custom-section-b .col.second-column h3{
    font-size:16px;
    margin-bottom:18px;
  }
  .custom-section-b .col.second-column p{
    font-size:16px;
    margin-bottom:40px;
  }
}