.custom-banner-slider{
  position:relative;
  overflow:hidden;
}
.custom-banner-slider .page-title-container{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.custom-banner-slider .page-title{
  color: #fff;
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 700;
  margin: 0;
  margin-top:20px;
}
.custom-banner-slider .page-title-second{
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 700;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin: 0;
  margin-right:35px;
  position:absolute;
}
.custom-banner-slider .background-logo{
  top:-125px;
  position:absolute;
  left:180px;
}
.custom-banner-slider .background-team{
  bottom:0;
  position:absolute;
  left:0;
}
.custom-banner-slider .swiper{
  width:100%;
}
.custom-banner-slider .swiper-slide-title{
  color:#fff;
}

.custom-banner-slider .swiper-slide{
  width:100%;
  min-height:580px;
}
.custom-banner-slider .swiper-slide-content{
  position:relative;
  height:100%;
  width:100%;
}

.custom-banner-slider .swiper-slide-img{
  position:absolute;
  right:180px;
  bottom:0;
}

.custom-banner-slider .swiper-slide-title-container{
  width: 100%;
  bottom: 0;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.custom-banner-slider .swiper-slide-title{
  font-size: 128px;
  line-height: 128px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  position:relative;
  z-index:1;
  margin-bottom:25px;
}

.custom-banner-slider .swiper-slide-title-second{
  font-size: 150px;
  line-height: 150px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  position:absolute;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom:25px;
}
.custom-banner-slider .swiper-pagination-bullet{
  color:#000;
  background: #fff;
  border: 1px solid #000;
  opacity:1;
}
.custom-banner-slider .swiper-pagination-bullet-active{
  background:#000;
}
.custom-banner-slider .swiper-pagination{
  bottom:0;
  background:#fff;
}
.custom-banner-slider .swiper-wrapper{
  padding-bottom:29px;
}
/* clip-path: polygon(0 0, 0 10%, 12% 0, 17% 0, 17% 0, 0 14%, 0 100%, 89% 100%, 100% 91%, 100% 0); */
@media screen and (max-width: 750px) {
  
  .custom-banner-slider .swiper-slide-title{
    font-size:48px;
    line-height:48px;
  }
  .custom-banner-slider .swiper-slide-title-second{
    font-size:55px;
    line-height:55px;
  }
  .custom-banner-slider .swiper-slide-img{
    width:330px;
    right:0;
  }
  .custom-banner-slider .background-team{
    width:100%;
  }
  .custom-banner-slider .background-logo{
    top: 0;
    left: 0;
    transform: translateX(-50%);
  }
}