.custom-card-grid{
  background:#000;
  display:flex;
  flex-wrap:wrap;
}
.custom-card-grid .card{
  width:33%;
  background:#fff;
  clip-path: polygon(12% 0, 0 10%, 0 100%, 89% 100%, 100% 90%, 100% 0);
}
.custom-card-grid .card-content{
  background: radial-gradient(50% 50% at 50% 50%, #9F03A3 0%, rgba(126, 44, 207, 0.37) 43.23%, rgba(0, 209, 255, 0) 100%), #000000;
  left:24px;
  top:24px;
  clip-path: polygon(12% 0, 0 10%, 0 100%, 89% 100%, 100% 90%, 100% 0);
}
.custom-card-grid .card-name{
  margin: 0;
color: #fff;
}