.custom-banner-slider .swiper-slide-title{
  color:#fff;
}

.custom-banner-slider .swiper-slide-content{
  position:relative;
  min-height:580px;
}

.custom-banner-slider .swiper-slide-img{
  position:absolute;
  right:0;
  bottom:0;
}